<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1"/>
    <meta name="renderer" content="webkit"/>
    <title>Elastic 中文社区</title>
    <meta name="keywords" content="Elastic中文社区，Elasticsearch中文社区，实时数据分析，实时数据检索, Elastic Stack，ELK，elasticsearch、logstash、kibana、beats等相关技术交流探讨"/>
    <meta name="description" content="Elastic 官方中文社区，围绕 Elastic 开源项目：elasticsearch、logstash、kibana、beats 等及周边技术的交流与探讨。"/>
    <base href="https://elasticsearch.cn/"/>
    <!--[if IE]></base><![endif]-->
    <link href="https://elasticsearch.cn/static/css/default/img/favicon.ico?v=20151125" rel="shortcut icon" type="image/x-icon"/>
    <link href="https://elasticsearch.cn/static/css/bootstrap.css?v=4" rel="stylesheet" type="text/css"/>
    <link href="https://elasticsearch.cn/static/css/icon.css?v=4" rel="stylesheet" type="text/css"/>
    <link href="https://elasticsearch.cn/static/css/default/common.css?v=16?v=20151125" rel="stylesheet" type="text/css"/>
    <link href="https://elasticsearch.cn/static/css/default/link.css?v=20151125" rel="stylesheet" type="text/css"/>
    <link href="https://elasticsearch.cn/static/js/plug_module/style.css?v=20151125" rel="stylesheet" type="text/css"/>
    <script type="text/javascript">
        var _ECAB041363E0FCE643087589133CF1CB = "";
        var G_POST_HASH = _ECAB041363E0FCE643087589133CF1CB;
        var G_INDEX_SCRIPT = "";
        var G_SITE_NAME = "Elastic 中文社区";
        var G_BASE_URL = "https://elasticsearch.cn";
        var G_STATIC_URL = "https://elasticsearch.cn/static";
        var G_UPLOAD_URL = "https://elasticsearch.cn/uploads";
        var G_USER_ID = "";
        var G_USER_NAME = "";
        var G_UPLOAD_ENABLE = "N";
        var G_UNREAD_NOTIFICATION = 0;
        var G_NOTIFICATION_INTERVAL = 100000;
        var G_CAN_CREATE_TOPIC = "";
        var G_EDITOR_MODE = "0";
    </script>
    <script src="https://elasticsearch.cn/static/js/jquery.2.js?v=20151125" type="text/javascript"></script>
    <script src="https://elasticsearch.cn/static/js/jquery.form.js?v=20151125" type="text/javascript"></script>
    <script src="https://elasticsearch.cn/static/js/plug_module/plug-in_module.js?v=20151125" type="text/javascript"></script>
    <script src="https://elasticsearch.cn/static/js/aws.js?v=20151125" type="text/javascript"></script>
    <script src="https://elasticsearch.cn/static/js/aw_template.js?v=20151125" type="text/javascript"></script>
    <script src="https://elasticsearch.cn/static/js/app.js?v=20151125" type="text/javascript"></script>
    <script type="text/javascript" src="https://elasticsearch.cn/static/js/compatibility.js"></script>
    <!--[if lte IE 8]>
    <script type="text/javascript" src="https://elasticsearch.cn/static/js/respond.js"></script>
    <![endif]-->
</head>
<noscript unselectable="on" id="noscript">
    <div class="aw-404 aw-404-wrap container">
        <img src="https://elasticsearch.cn/static/common/no-js.jpg">
        <p>你的浏览器禁用了JavaScript, 请开启后刷新浏览器获得更好的体验!</p>
    </div>
</noscript>
<body>
<div th:replace="header::copy"></div>
<style>
    .announcement-banner {
        background: #3b4045 !important;
        color: #c9cccf;
        padding: 5px;
    }

    .announcement-banner a {
        color: #ffffff;
    }

    .announcement-banner .contributor {
        float: right;
        font-size: 5px;
        color: cornsilk;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    .svg-icon {
        fill: #ffffff !important;
    }

    .announcement-content {
        overflow: hidden;
        text-wrap: none;
        word-break: keep-all;
        word-wrap: normal;
    }

</style>
<div id="announcement-banner" class="announcement-banner alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
        <svg aria-hidden="true" class="svg-icon" width="18" height="18" viewBox="0 0 18 18">
            <path d="M15 4.41L13.59 3 9 7.59 4.41 3 3 4.41 7.59 9 3 13.59 4.41 15 9 10.41 13.59 15 15 13.59 10.41 9 15 4.41z"></path>
        </svg>
    </button>
    <div class="container">
        <div style="margin: 0px;margin-bottom: -1px;">
            <div class="announcement-content"> 亲，只收二进制</div>
        </div>
    </div>
</div>

<div class="aw-container-wrap">
    <div class="container category">
        <div class="row">
            <div class="col-sm-12">
                <ul class="list">
                    <li class="active"><a href="https://elasticsearch.cn/explore/">全部</a></li>

                    <li>
                        <a href="https://elasticsearch.cn/explore/category-2">Elasticsearch</a>
                    </li>
                    <li>
                        <a href="https://elasticsearch.cn/explore/category-3">Logstash</a>
                    </li>
                    <li>
                        <a href="https://elasticsearch.cn/explore/category-4">Kibana</a>
                    </li>
                    <li>
                        <a href="https://elasticsearch.cn/explore/category-13">Beats</a>
                    </li>
                    <li>
                        <a href="https://elasticsearch.cn/explore/category-12">求职招聘</a>
                    </li>
                    <li>
                        <a href="https://elasticsearch.cn/explore/category-5">资讯动态</a>
                    </li>
                    <li>
                        <a href="https://elasticsearch.cn/explore/category-16">活动</a>
                    </li>
                    <li>
                        <a href="https://elasticsearch.cn/explore/category-18">Elastic日报</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="aw-content-wrap clearfix">
                <div class="col-sm-12 col-md-9 aw-main-content">
                    <!-- 新消息通知 -->
                    <div class="aw-mod aw-notification-box hide" id="index_notification">
                        <div class="mod-head common-head">
                            <h2>
                                <span class="pull-right"><a
                                        href="https://elasticsearch.cn/account/setting/privacy/#notifications"
                                        class="text-color-999"><i class="icon icon-setting"></i> 通知设置</a></span>
                                <i class="icon icon-bell"></i>新通知<em class="badge badge-important"
                                                                     name="notification_unread_num"></em>
                            </h2>
                        </div>
                        <div class="mod-body">
                            <ul id="notification_list"></ul>
                        </div>
                        <div class="mod-footer clearfix">
                            <a href="javascript:;" onclick="AWS.Message.read_notification(false, 0, false);"
                               class="pull-left btn btn-mini btn-gray">我知道了</a>
                            <a href="https://elasticsearch.cn/notifications/"
                               class="pull-right btn btn-mini btn-success">查看所有</a>
                        </div>
                    </div>
                    <!-- end 新消息通知 -->
                    <!-- tab切换 -->
                    <ul class="nav nav-tabs aw-nav-tabs active hidden-xs">
                        <li><a href="https://elasticsearch.cn/sort_type-unresponsive"><span
                                style="color: #E51C37">消灭零回复</span></a></li>
                        <li><a href="https://elasticsearch.cn/sort_type-hot__day-7" id="sort_control_hot">热门</a></li>
                        <li><a href="https://elasticsearch.cn/is_recommend-1">推荐</a></li>
                        <li class="active"><a href="https://elasticsearch.cn/">最新</a></li>

                        <h2 class="hidden-xs"><i class="icon icon-list"></i> 发现</h2>
                    </ul>
                    <!-- end tab切换 -->

                    <div class="aw-mod aw-explore-list">
                        <div class="mod-body">
                            <div class="aw-common-list">
                                <div class="aw-item " data-topic-id="" th:each="question:${questions}">
                                    <a class="aw-user-name hidden-xs" data-id="11566"
                                       href="https://elasticsearch.cn/people/yu89780012" rel="nofollow">
                                        <img src="https://www.gravatar.com/avatar/e06ddc00fe13158f2a8ef59ef428aa03?d=identicon&s=50" alt=""/>
                                    </a>
                                    <div class="aw-question-content">
                                        <h4>
                                            <a href="https://elasticsearch.cn/question/9068" th:text="${question.title}"></a>
                                        </h4>
                                        <div class="pull-right hidden-xs contribute">
                                            <span class="pull-right text-color-999">贡献</span>
                                            <a class="aw-user-name" data-id="4510"
                                               href="https://elasticsearch.cn/people/tacsklet" rel="nofollow"><img
                                                    src="https://www.gravatar.com/avatar/417140793ca30b3941349afe4f805b31?d=identicon&s=50"
                                                    alt=""/></a>
                                        </div>
                                        <p>
                                            <a class="aw-question-tags"
                                               href="https://elasticsearch.cn/explore/category-2">Elasticsearch</a>
                                            • <a href="https://elasticsearch.cn/people/tacsklet" class="aw-user-name"
                                                 data-id="4510">tacsklet</a> <span class="text-color-999">回复了问题 • 2 人关注 • 2 个回复 • 51 次浏览 • 2 小时前				</span>
                                            <span class="text-color-999 related-topic hide"> • 来自相关话题</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mod-footer">
                            <div class="page-control">
                                <ul class="pagination pull-right">
                                    <li class="active"><a href="javascript:;">1</a></li>
                                    <li><a href="https://elasticsearch.cn/day-0__is_recommend-0__page-2">2</a></li>
                                    <li><a href="https://elasticsearch.cn/day-0__is_recommend-0__page-3">3</a></li>
                                    <li><a href="https://elasticsearch.cn/day-0__is_recommend-0__page-4">4</a></li>
                                    <li><a href="https://elasticsearch.cn/day-0__is_recommend-0__page-2">&gt;</a></li>
                                    <li><a href="https://elasticsearch.cn/day-0__is_recommend-0__page-619">&gt;&gt;</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 侧边栏 -->
                <div class="col-sm-12 col-md-3 aw-side-bar hidden-xs hidden-sm">


                    <div class="aw-mod aw-text-align-justify">
                        <div class="mod-head">
                            <a href="https://elasticsearch.cn/topic/channel-hot" class="pull-right">更多 &gt;</a>
                            <h3>热门话题</h3>
                        </div>
                        <div class="mod-body">
                            <dl>
                                <dt class="pull-left aw-border-radius-5">
                                    <a href="https://elasticsearch.cn/topic/Elastic日报"><img alt=""
                                                                                            src="https://elasticsearch.cn/uploads/topic/20170801/c323ba600f2ebc015b15c9d329e29369_50_50.jpeg"/></a>
                                </dt>
                                <dd class="pull-left">
                                    <p class="clearfix">
						<span class="topic-tag">
							<a href="https://elasticsearch.cn/topic/Elastic日报" class="text" data-id="1352">Elastic日报</a>
						</span>
                                    </p>
                                    <p><b>765</b> 个问题, <b>114</b> 人关注</p>
                                </dd>
                            </dl>
                            <dl>
                                <dt class="pull-left aw-border-radius-5">
                                    <a href="https://elasticsearch.cn/topic/elaseticsearch"><img alt=""
                                                                                                 src="https://elasticsearch.cn/static/common/topic-mid-img.png"/></a>
                                </dt>
                                <dd class="pull-left">
                                    <p class="clearfix">
						<span class="topic-tag">
							<a href="https://elasticsearch.cn/topic/elaseticsearch" class="text" data-id="2970">elaseticsearch</a>
						</span>
                                    </p>
                                    <p><b>217</b> 个问题, <b>7</b> 人关注</p>
                                </dd>
                            </dl>
                            <dl>
                                <dt class="pull-left aw-border-radius-5">
                                    <a href="https://elasticsearch.cn/topic/es"><img alt=""
                                                                                     src="https://elasticsearch.cn/uploads/topic/20170704/d005a40545a2bccee6e28f765505e7ff_50_50.png"/></a>
                                </dt>
                                <dd class="pull-left">
                                    <p class="clearfix">
						<span class="topic-tag">
							<a href="https://elasticsearch.cn/topic/es" class="text" data-id="6">es</a>
						</span>
                                    </p>
                                    <p><b>475</b> 个问题, <b>126</b> 人关注</p>
                                </dd>
                            </dl>
                            <dl>
                                <dt class="pull-left aw-border-radius-5">
                                    <a href="https://elasticsearch.cn/topic/elasticsearch"><img alt=""
                                                                                                src="https://elasticsearch.cn/uploads/topic/20170704/d5d2de0285f9515cc7ec5e83f1238908_50_50.png"/></a>
                                </dt>
                                <dd class="pull-left">
                                    <p class="clearfix">
						<span class="topic-tag">
							<a href="https://elasticsearch.cn/topic/elasticsearch" class="text" data-id="38">elasticsearch</a>
						</span>
                                    </p>
                                    <p><b>1230</b> 个问题, <b>241</b> 人关注</p>
                                </dd>
                            </dl>
                            <dl>
                                <dt class="pull-left aw-border-radius-5">
                                    <a href="https://elasticsearch.cn/topic/搜索中台"><img alt=""
                                                                                       src="https://elasticsearch.cn/static/common/topic-mid-img.png"/></a>
                                </dt>
                                <dd class="pull-left">
                                    <p class="clearfix">
						<span class="topic-tag">
							<a href="https://elasticsearch.cn/topic/搜索中台" class="text" data-id="7223">搜索中台</a>
						</span>
                                    </p>
                                    <p><b>3</b> 个问题, <b>1</b> 人关注</p>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    常用链接
                    <br/>
                    <a href="https://www.elastic.co/guide/cn/elasticsearch/guide/current/index.html" target="_blank">
                        <span style="font-size: 12px;clear: both;"><i class="icon icon-reader"> </i>Elasticsearch 权威指南中文版(2.x)</span>
                    </a><br/>
                    <a href="https://www.elastic.co/guide/cn/kibana/current/index.html" target="_blank">
                        <span style="font-size: 12px;clear: both;"><i
                                class="icon icon-reader"> </i>Kibana 中文手册(6.0)</span>
                    </a><br/>
                    <a href="https://www.elastic.co/guide/cn/elasticsearch/php/current/index.html" target="_blank">
                        <span style="font-size: 12px;clear: both;"><i class="icon icon-reader"> </i>Elasticsearch-PHP 中文手册(6.0)</span>
                    </a><br/>
                    <a href="http://elasticsearch.mikecrm.com/P3I77NC" target="_blank">
                        <span style="font-size: 12px;clear: both;"><i
                                class="icon icon-contact"> </i>联系 Elastic，获取技术支持</span>
                    </a>
                    <br/><br/>
                    社区日报
                    <br/>
                    <form style="border:1px dotted #ccc;text-align:center;"
                          action="https://tinyletter.com/elastic-daily" method="post" target="popupwindow"
                          onsubmit="window.open('https://tinyletter.com/elastic-daily', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
                        <p><input type="text" placeholder="输入电邮地址" style="width:80%;float:left" name="email"
                                  id="tlemail"><input type="submit" value="订阅" style="width:20%;float:left"><input
                                type="hidden" value="1" name="embed"></p>
                    </form>

                    <div style="padding-top: 5px;padding-bottom: 5px;">
                        <a href="https://data.aliyun.com/product/elasticsearch?ref=escn" title="感谢本站服务器赞助商：阿里云"
                           target="_blank">
                            <img width="100%" alt="感谢本站服务器赞助商：阿里云" src="/static/common/aliyun.png">
                        </a>
                    </div>

                    <div class="ad_bg_253_100">
                        <!--为了明年的服务器-->
                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <ins class="adsbygoogle"
                             style="display:inline-block;width:253px;height:100px"
                             data-ad-client="ca-pub-9516277730901843"
                             data-ad-slot="9205711227"></ins>
                        <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </div>

                </div>
                <!-- end 侧边栏 -->
            </div>
        </div>
    </div>
</div>

<div class="aw-footer-wrap">
    <div class="aw-footer">
        Copyright © 2019· <a target="_blank" title="简单来说就是转载必须注明本站链接！"
                             href="http://creativecommons.org/licenses/by/3.0/cn/">CC BY-NC-SA 3.0</a></span>

        <span class="hidden-xs"> · <a href="http://elasticsearch.cn/" target="blank">Elastic中文社区</a>
            <span class="hidden-xs"> · 服务器赞助: <a href="https://aliyun.com?ref=escn" target="_blank">阿里云</a> · 网站程序:
                <a href="https://github.com/wecenter/wecenter/blob/master/license.txt" target="_blank">WeCenter</a> ·
                <a target="_blank" href="http://www.beian.miit.gov.cn/">湘ICP备17007482号</a>
            </span>
        </span>

    </div>
</div>

<div class="aw-back-top hidden-xs">
    <a style="text-align: center" href="javascript:;" onclick="return false;"><i class="icon icon-wechat"></i>
    </a>
    <a style="text-align: center" href="javascript:;" onclick="$.scrollTo(1, 600, {queue:true});"><i
            class="icon icon-up"></i>
    </a>
</div>

<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?e6293f1e557051599b149ca729a41cc0";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<script>(function (w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({
        'gtm.start':
            new Date().getTime(), event: 'gtm.js'
    });
    var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
    j.async = true;
    j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
    f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', 'GTM-57RRPQR');</script>
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-57RRPQR"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- DO NOT REMOVE -->
<div id="aw-ajax-box" class="aw-ajax-box"></div>

<div style="display:none;" id="__crond">
    <script type="text/javascript">
        $(document).ready(function () {
            $('#__crond').html(unescape('%3Cimg%20src%3D%22' + G_BASE_URL + '/crond/run/1576756194%22%20width%3D%221%22%20height%3D%221%22%20/%3E'));
        });
    </script>
</div>

<!-- Escape time: 0.026994943618774 --><!-- / DO NOT REMOVE -->

</body>
</html>
